/xref.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/xref.xcodeproj/project.xcworkspace/xcuserdata/derekselander.xcuserdatad/UserInterfaceState.xcuserstate
/xref.xcodeproj/xcuserdata/lolgrep.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/xref.xcodeproj/project.xcworkspace/xcuserdata/lolgrep.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcbkptlist
Breakpoints_v2.xcbkptlist
/.DS_Store
/dsdump/.DS_Store
.DS_Store
xcuserdata
swift-source
